<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932931691792-k8co3sdl71i3l1tmdj7u67c2rgj41s91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932931691792-k8co3sdl71i3l1tmdj7u67c2rgj41s91</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>932931691792-mqaqgg1qjugqh6m7m2ah9cgt31kug4n2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBcMvEcCmiXFVTysnojo8hlQPjjp8Y0d-8</string>
	<key>GCM_SENDER_ID</key>
	<string>932931691792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.example.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>figexample</string>
	<key>STORAGE_BUCKET</key>
	<string>figexample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932931691792:ios:62d5393db50447a17df195</string>
</dict>
</plist>